<footer class="footer fixed-bottom border-top">
    <div class="container">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">&copy; 2022 - Raw</a>
    </div>
</footer>