<!DOCTYPE html>
<html lang="en">

@{
    await Html.RenderPartialAsync("_headLayout");
}

<body>
    @{
        await Html.RenderPartialAsync("_headerLayout");
    }
    <div class="container">
        <main role="main">
            <div class="row head">
                <h2 class="col">
                    @{
                        var selectedPath = ViewBag.SelectedPath != "" ? ViewBag.SelectedPath : "\\Published\\Projects";
                    }
                    @selectedPath
                </h2>
                @Html.ActionLink("Return Back", "Index", "PublishedProjects",
                new { SelectedPath = ViewBag.OlderPath }, new { @class = "col-auto btn btn-primary d-flex my-auto ms-auto me-1" })
            </div>
            @RenderBody()
        </main>
    </div>

    @{
        await Html.RenderPartialAsync("_footerLayout");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
